@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-color: black;
    color: #ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.container_imc {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 500;
    width: 99vw;
    animation: anm_entrada 1s;
}

@keyframes anm_entrada {
    from {
        opacity: 0%;
        transform: translateY(50%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.box_imc {
    width: 30vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container_imc .txt_imc {
    font-size: 20px;
}

.calc_imc {}

.btn_calcular {
    border-radius: 20px;
    background-color: rgb(122, 101, 92);
    color: #ffffff;
}

.btn_calcular:hover {
    background-color: rgb(255, 69, 1);
}

.input_imc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14vw;
    height: 33vh;
    border-top: 2px solid rgb(255, 69, 1);
    border-bottom: 2px solid rgb(255, 69, 1);
    border-radius: 20px;
    margin-top: 20px;
}

.input_imc input {
    display: flex;
    align-items: center;
    width: 10vw;
}

.input_idade {
    display: flex;
}

.box_input button {
    align-self: center;
    height: 30px;
    width: 180px;
    cursor: pointer;
}

#error_peso,
#error_altura {
    color: red;
    font-size: 13.5px;
}

#resultado_imc {
    animation: entrada_mensagem 1s;
}

@keyframes entrada_mensagem {
    from {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.tabela {
    border-spacing: 30px;
    border-collapse: collapse;
    animation: entrada_tabela 1s;
}

@keyframes entrada_tabela {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.tabela th {
    border: 3px solid #ffffff;
    padding: 6px;
}

.tabela td {
    border: 3px solid #ffffff;
    padding: 10px;
}